.app-window {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;

  .header {
    display: flex;
    padding: 16px;
    overflow: hidden;
    align-items: center;

    .title {
      font-size: x-large;
      font-weight: bold;
    }

    .first-page {
      margin: 0 16px;
    }

    .last-page {
      margin: 0 16px;
    }
  }

  .body {
    display: flex;
    flex: 1;
    overflow: hidden;
    flex-direction: column;

    .content-container {
      display: flex;
      flex: 1;
      overflow: auto;
      flex-direction: column;

      .user-list {
        margin: 4px 0px;
        padding: 8px;
        background-color: lightblue;
      }
    }

    .table-footer {
      display: flex;
      flex-direction: row;
      background: lightyellow;
      align-items: center;
      justify-content: center;
    }
  }
}

.mat-column-no {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

.mat-column-name {
  min-width: 200px;
  max-width: 200px;
}

.mat-column-age {
  min-width: 100px;
  max-width: 100px;
}

.mat-column-gender {
  min-width: 150px;
  max-width: 150px;
}

.mat-column-race {
  min-width: 150px;
  max-width: 150px;
}

.mat-column-religion {
  min-width: 150px;
  max-width: 150px;
}

.mat-column-occupation {
  min-width: 550px;
  max-width: 550px;
}
