<div class="app-window">
  <div class="header">
    <div class="title">Chips</div>
  </div>
  <div class="body">
    <p>Chip Set</p>
    <mat-chip-set>
      @for (fruit of chipList; track $index) {
        <mat-chip>
          <img
            matChipAvatar
            src="https://material.angular.io/assets/img/examples/shiba1.jpg"
            alt="Photo of a Shiba Inu"
          />
          {{ fruit }}
          <button matChipRemove (click)="removeChip(fruit)">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      }
    </mat-chip-set>

    <!--Chip Option Lists-->
    <p>Chip Option Lists</p>
    <mat-chip-listbox multiple>
      @for (fruit of chipList; track $index) {
        <mat-chip-option>{{ fruit }}</mat-chip-option>
      }
    </mat-chip-listbox>

    <!--Chip Grid-->
    <p>Chip Grid</p>
    <mat-form-field>
      <mat-label>Fruits</mat-label>

      <mat-chip-grid #chipGrid>
        @for (item of chipsGridItemList; track $index) {
          <mat-chip-row>
            <img
              matChipAvatar
              src="https://material.angular.io/assets/img/examples/shiba1.jpg"
              alt="Photo of a Shiba Inu"
            />{{ item }}
            <button matChipRemove (click)="removeGridChip(item)">
              <mat-icon>cancel</mat-icon>
            </button></mat-chip-row
          >
        }
      </mat-chip-grid>

      <input
        matInput
        placeholder="Fruits"
        [matChipInputFor]="chipGrid"
        (matChipInputTokenEnd)="addChipGridItem($event)"
      />
    </mat-form-field>

    <!--Menu Button-->
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>

    <!--New Section-->
    <br />

    <h1>Form Control Error</h1>

    <div class="login-form" [formGroup]="loginFormGroup">
      <!--Username-->
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          placeholder="Username"
          formControlName="username"
        />

        <!--Error-->
        @if (loginFormGroup.hasError('required', 'username')) {
          <mat-error>Username is <b>required</b></mat-error>
        }

        <!--Error-->
        @if (loginFormGroup.hasError('pattern', 'username')) {
          <mat-error>Username is <b>wrong</b></mat-error>
        }
      </mat-form-field>

      <!--Password-->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="text"
          placeholder="Password"
          formControlName="password"
        />

        <!--Error-->
        @if (loginFormGroup.hasError('required', 'password')) {
          <mat-error>Password is <b>required</b></mat-error>
        }

        <!--Error-->
        @if (loginFormGroup.hasError('invalidPassword', 'password')) {
          <mat-error>Password is <b>invalid</b></mat-error>
        }
      </mat-form-field>

      <!--Login Button-->
      <button mat-stroked-button>Login</button>
    </div>

  <div class="drag-box" cdkDrag>Drag me around</div>

  </div>

</div>

<!--App Menu-->
<mat-menu #appMenu>
  <button mat-menu-item><mat-icon>logout</mat-icon> Log out</button>

  <!--Nested Menu-->
  <button mat-menu-item [matMenuTriggerFor]="nestedMenu">
    <mat-icon>menu</mat-icon>Nested Menu
  </button>
</mat-menu>

<!-- Nested Menu -->
<mat-menu #nestedMenu>
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    Person
  </button>
</mat-menu>
